@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');

:root{
    --fontheading: 'Poppins', sans-serif;
    --fontbody: 'Open Sans', sans-serif;
    --color1: hsl(322, 100%, 66%);
    --color2: hsl(321, 100%, 78%);
    --color3: hsl(0, 100%, 63%);
    --color4: hsl(192, 100%, 9%);
    --color5: hsl(207, 100%, 98%);
}
body {
    font-family: var(--fontbody);
    header {
        nav {
            margin-top: 50px;
            margin-bottom: 50px;
            #navarea {
                .btn {
                    border-radius: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding-left: 40px;
                    padding-right: 40px;
                    font-size: 16px;
                    color: var(--color1);
                    border-color: var(--color1);
                    &:hover {
                        background:none;
                    }
                }
            }
        }
    }
    main {
        #section-one {
            margin-top: 150px;
            margin-bottom: 150px;
            .content {
                text-align: center;
                margin-top: 20px;
                margin-bottom: 50px;
                h1 {
                    font-weight: bold;
                    margin-bottom: 20px;
                    color: var(--color4);
                    font-family: var(--fontheading);
                }
                p {
                    font-weight: 500;
                    color: var(--color4);
                    margin-bottom: 30px;
                }
                button {
                    padding: 15px 70px;
                    border-radius: 30px;
                    background-color: var(--color2);
                    border-color: var(--color2);
                    color: var(--color5);
                    font-weight: bold;
                    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                }
            }
            .image {
                text-align: center;
                margin-top: 20px;
                margin-bottom: 70px;
                img {
                    width: 100%;
                }
            }
            .values {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .communities  {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    &::before {
                        content: url(/assets/img/icon-communities.svg);
                    }
                    span {
                        &:first-child {
                            font-size: 75px;
                            font-weight: bold;
                        }
                    }
                }
                .messages {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    &::before {
                        content: url(/assets/img/icon-messages.svg);
                    }
                    span {
                        &:first-child {
                            font-size: 75px;
                            font-weight: bold;
                        }
                    }
                }

            }
        }
        #section-two {
            .content {
                background-color: #f5fafe;
                margin-top: -10px;
                padding-top: 70px;
                padding-bottom: 70px;
                .imgtext {
                    .text {
                        display: flex;
                        flex-direction: column;
                        gap: 30px;
                        span {
                            font-size: 40px;
                            font-weight: bold;
                            font-family: var(--fontheading);
                        }
                    }
                    .img {
                        img {
                            width: 100%;
                        }
                    }
                }
            }
            &::before {
                content: "";
                background-image: url(/assets/img/bg-section-top-desktop-1.svg);
                background-size: 100% 100%;
                display: inline-block;
                width: 100%;
                height: 120px;
                
            }
            &::after {
                content: "";
                background-image: url(/assets/img/bg-section-bottom-desktop-1.svg);
                background-size: 100% 100%;
                display: inline-block;
                width: 100%;
                height: 120px;
            }
        }
        #section-three {
            margin-top: 100px;
            margin-bottom: 100px;
            .img {
                img {
                    width: 100%;
                }
            }
            .text {
                display: flex;
                flex-direction: column;
                gap: 30px;
                span {
                    font-size: 40px;
                    font-weight: bold;
                    font-family: var(--fontheading);
                }
            }
        }
        #section-four {
            .content {
                background-color: #f5fafe;
                margin-top: -10px;
                padding-top: 70px;
                padding-bottom: 70px;
                .imgtext {
                    .text {
                        display: flex;
                        flex-direction: column;
                        gap: 30px;
                        span {
                            font-size: 40px;
                            font-weight: bold;
                            font-family: var(--fontheading);
                        }
                    }
                    .img {
                        img {
                            width: 100%;
                        }
                    }
                }
            }
            &::before {
                content: "";
                background-image: url(/assets/img/bg-section-top-desktop-1.svg);
                background-size: 100% 100%;
                display: inline-block;
                width: 100%;
                height: 120px;
                
            }
            &::after {
                content: "";
                background-image: url(/assets/img/bg-section-bottom-desktop-1.svg);
                background-size: 100% 100%;
                display: inline-block;
                width: 100%;
                height: 120px;
            }
        }
        #section-five {
            margin-top: 150px;
            margin-bottom: 150px;
            .content {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 30px;
                h1 {
                    text-align: center;
                    font-weight: bold;
                    font-family: var(--fontheading);
                }
                button {
                    padding: 15px 70px;
                    border-radius: 30px;
                    background-color: var(--color2);
                    border-color: var(--color2);
                    color: var(--color5);
                    font-weight: bold;
                    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                }
            }
        }
    }
    footer {
        .footerarea {
            background-color: var(--color4);
            margin-top: -10px;
            .content {
                padding-top: 100px;
                padding-bottom: 100px;
                .left {
                    .footerlogo {
                        margin-bottom: 20px;
                        img {
                            filter: brightness(0) invert(1);
                        }
                    }
                    .footertext {
                        p {
                            color: var(--color5);
                            font-size: 12px;
                            margin-bottom: 20px;
                        }
                    }
                    .footerphone {
                        color: var(--color5);
                        display: flex;
                        align-items: center;
                        margin-bottom: 10px;
                        &::before {
                            content: url(/assets/img/icon-phone.svg);
                            margin-right: 10px;
                            line-height: 0;
                        }
                    }
                    .footermail {
                        color: var(--color5);
                        display: flex;
                        align-items: center;
                        margin-bottom: 10px;
                        &::before {
                            content: url(/assets/img/icon-email.svg);
                            margin-right: 10px;
                            line-height: 0;
                        }
                    }
                    .footersocial {
                        margin-top: 40px;
                        a {
                            margin-right: 10px;
                        }
                    }
                }
                .right {
                    .newslettertitle {
                        color: var(--color5);
                        font-size: 20px;
                        text-transform: uppercase;
                        font-weight: bold;
                        margin-bottom: 20px;
                    }
                    .newslettertext {
                        p {
                            color: var(--color5);
                            font-size: 12px;
                            margin-bottom: 40px;
                        }
                    }
                    .newsletterform {
                        form {
                            display: flex;
                            align-items: center;
                            .text {
                                padding: 5px 20px;
                                border-radius: 6px;
                            }
                            .btn {
                                margin-left: 30px;
                                background-color: var(--color1);
                                border-color: var(--color1);
                            }
                        }
                    }
                }
            }
        }
        &::before {
            content: "";
            background-image: url(/assets/img/bg-footer-top-desktop.svg);
            background-size: 100% 100%;
            display: inline-block;
            width: 100%;
            height: 120px;
        }
    }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
    body {
        main {
            #section-one {
                .content {
                    h1 {
                        font-size: 30px;
                    }
                }

            }
        }
        footer {
            .footerarea {
                .content {
                    .right {
                        .newsletterform {
                            form {
                                display: flex;
                                align-items: center;
                                .text {
                                    padding: 5px 5px;
                                    border-radius: 6px;
                                }
                                .btn {
                                    margin-left: 10px;
                                    background-color: var(--color1);
                                    border-color: var(--color1);
                                    font-size: 12px;
                                    padding: 7px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    body {
        main {
            #section-two {
                .content {
                    .imgtext {
                        .text {
                            span {
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
            #section-three {
                .text {
                    span {
                        font-size: 20px;
                    }
                }
            }
            #section-four {
                .content {
                    .imgtext {
                        .text {
                            span {
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
        footer {
            .footerarea {
                .content {
                    .left {
                        margin-bottom: 40px;
                    }
                }
            }
            &::before {
                content: "";
                background-image: url(/assets/img/bg-footer-top-desktop.svg);
                background-size: 100% 100%;
                display: inline-block;
                width: 100%;
                height: 120px;
            }
        }
    }
}

@media screen and (max-width: 576px) {
    body {
        header {
            nav {
                margin-top: 30px;
                margin-bottom: 30px;
                #navarea {
                    .navbar-brand {
                        img {
                            width: 100%;
                        }
                    }
                    .btn {
                        margin-top: 30px;
                    }
                }
            }
        }
        main {
            #section-one {
                margin-top: 20px;
                margin-bottom: 50px;
                .content {
                    button {
                        padding: 15px 50px;
                    }
                }
                .values {
                    display: block;
                    .communities  {
                        margin-bottom: 40px;
                    }
                    .messages {
                        margin-bottom: 40px;
                    }
    
                }
            }
            #section-two {
                &::before {
                    height: 70px;
                }
                &::after {
                    height: 70px;
                }
            }
            #section-four {
                &::before {
                    height: 70px;
                    
                }
                &::after {
                    height: 70px;
                }
            }
        }
        footer {
            .footerarea {
                .content {
                    .left {
                        .footerlogo {
                            img {
                                width: 100%;
                            }
                        }
                    }
                    .right {
                        .newsletterform {
                            form {
                                flex-direction: column;
                                .btn {
                                    margin-left: 0;
                                    width: 100%;
                                    margin-top: 20px;
                                }
                            }
                        }
                    }
                }
            }
            &::before {
                height: 70px;
            }
        }
    }
}