@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');

:root{
    --fontheading: 'Poppins', sans-serif;
    --fontbody: 'Open Sans', sans-serif;
    --color1: hsl(322, 100%, 66%);
    --color2: hsl(321, 100%, 78%);
    --color3: hsl(0, 100%, 63%);
    --color4: hsl(192, 100%, 9%);
    --color5: hsl(207, 100%, 98%);
}
body {
    font-family: var(--fontbody);
    header {
        nav {
            margin-top: 50px;
            margin-bottom: 50px;
            #navarea {
                .btn {
                    border-radius: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding-left: 40px;
                    padding-right: 40px;
                    font-size: 16px;
                    color: var(--color1);
                    border-color: var(--color1);
                    &:hover {
                        background:none;
                    }
                }
            }
        }
    }
    main {
        #section-one {
            margin-top: 150px;
            margin-bottom: 150px;
            .content {
                text-align: center;
                margin-top: 20px;
                margin-bottom: 50px;
                h1 {
                    font-weight: bold;
                    margin-bottom: 20px;
                    color: var(--color4);
                }
                p {
                    font-weight: 500;
                    color: var(--color4);
                    margin-bottom: 30px;
                }
                button {
                    padding: 15px 70px;
                    border-radius: 30px;
                    background-color: var(--color2);
                    border-color: var(--color2);
                    color: var(--color5);
                    font-weight: bold;
                    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                }
            }
            .image {
                text-align: center;
                margin-top: 20px;
                margin-bottom: 70px;
                img {
                    width: 100%;
                }
            }
            .values {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .communities  {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    &::before {
                        content: url(/assets/img/icon-communities.svg);
                    }
                    span {
                        &:first-child {
                            font-size: 60px;
                            font-weight: bold;
                        }
                    }
                }
                .messages {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    &::before {
                        content: url(/assets/img/icon-messages.svg);
                    }
                    span {
                        &:first-child {
                            font-size: 60px;
                            font-weight: bold;
                        }
                    }
                }

            }
        }
    }
}
